/* ---------------------all------------------ */

body > * {
    padding: 0 250px;
    }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    display: flex;
    flex-direction: column;
}

/* ---------------------header------------------ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 16px;
    padding-bottom: 16px;

    background-color: #1f2937
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f5e7eb;
}

.header ul {
    display: flex;
    gap: 24px;

    list-style-type: none;

    padding: 0;
    margin: 0;
    
}

/* ---------------------hero------------------ */

.hero {
    display: flex;
    gap: 50px;    

    background-color: #1f2937;
    color: #f5e7eb;

    padding-top: 100px;
    padding-bottom: 100px;
}



.hero .left {
    display: flex;
    flex-direction: column;

    flex: 0 1 50%;

    font-size: 18px;
}

.hero h1 {
    padding: 0;
    margin: 0 0 8px 0;
    font-size: 48px;
    font-weight: bolder;
}

.hero img {
    flex: none;
    width: 500px;  
    height: 250px;         
}

/* ---------------------info------------------ */

.info {
    text-align: center;
    padding-bottom: 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 16px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards img {
    height: 200px;
    width: 200px;
    border: 4px solid #3382f6;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card p {
    width: 200px;
    margin: 0;
    padding: 0;
}

/* ---------------------quote------------------ */

.quote {
    background-color: #e5e7eb;

    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 100px 25%;
    text-align: center;
}

.quote div {
text-align: right;
padding: 16px 0 0 300px;
font-style: normal;
font-weight: bolder;
font-size: 28px;
color: black;
}

/* ---------------------cta------------------ */

.cta {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.cta .card {
    margin: 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;


    padding: 50px 100px;
    min-width: fit-content;

    background-color: #3382f6;
    margin: 50px;
    border-radius: 10px;
}

.cta h3 {
    margin: 0; 
    padding: 0;
}

.cta button {
    border: 2px solid white;
    color: white;
}

/* ---------------------footer------------------ */

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 32px;
    color: #f5e7eb;


}

/* ---------------------univ------------------ */

button {
    padding: 8px 32px;
    margin-top: 8px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    color: #f5e7eb;
    background-color: #3382f6;
    border: 0px;

}

 a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}


